<script type="text/javascript">
  //BOOSTER APPS COMMON JS CODE
  window.BoosterApps = window.BoosterApps || {};
  window.BoosterApps.common = window.BoosterApps.common || {};
  window.BoosterApps.common.shop = {
    permanent_domain: '{{ shop.permanent_domain }}',
    currency: {{ shop.currency | json }},
    money_format: {{ shop.money_format | json }},
    id: 10794674
  };
  {% if customer %}
  window.BoosterApps.common.customer = {
    id: {{ customer.id | json }},
    tags: {{ customer.tags | json }},
    email: {{customer.email | json}},
    accepts_marketing: {{ customer.accepts_marketing | json }},
    first_name: {{ customer.first_name | json }},
    last_name: {{ customer.last_name | json }},
    orders_count: {{ customer.orders_count | json }},
    tags: {{ customer.tags | json }},
    total_spent: {{ customer.total_spent | json }}
  };
  {% endif %}

  window.BoosterApps.common.template = '{{ template | split: "." | first }}';
  window.BoosterApps.common.cart = {% if cart.item_count > 0 %}{{ cart | json }}{% else %}{}{% endif %};
  window.BoosterApps.common.vapid_public_key = "BJuXCmrtTK335SuczdNVYrGVtP_WXn4jImChm49st7K7z7e8gxSZUKk4DhUpk8j2Xpiw5G4-ylNbMKLlKkUEU98=";

  window.BoosterApps.cs_app_url = "/apps/";

  window.BoosterApps.global_config = {{shop.metafields.ba_global.config | json}};

    window.BoosterApps.loy_config = {{shop.metafields.ba_loy.config | json}};
    window.BoosterApps.loy_config.api_endpoint = "/apps/ba-loy";
    window.BoosterApps.loy_config.domain_name = "boosterapps.com/apps/loyalty";




  for (i = 0; i < window.localStorage.length; i++) {
    var key = window.localStorage.key(i);
    if (key.slice(0,10) === "ba_msg_sub") {
      window.BoosterApps.can_update_cart = true;
    }
  }

  {% if product %}
    if (window.BoosterApps.common.template == 'product'){
      window.BoosterApps.common.product = {
        id: {{product.id}}, price: {{product.price}}, handle: {{product.handle | json}}, tags: {{ product.tags | json}},
        available: {{product.available}}, title: {{product.title | json}}, variants: {{product.variants | json}}
      };
      window.BoosterApps.common.product.review_data = {{product.metafields.ba_rev.review_data | json}};
    }
  {% endif %}

</script>


<script type="text/javascript">
  !function(e){var t={};function r(n){if(t[n])return t[n].exports;var o=t[n]={i:n,l:!1,exports:{}};return e[n].call(o.exports,o,o.exports,r),o.l=!0,o.exports}r.m=e,r.c=t,r.d=function(e,t,n){r.o(e,t)||Object.defineProperty(e,t,{enumerable:!0,get:n})},r.r=function(e){"undefined"!==typeof Symbol&&Symbol.toStringTag&&Object.defineProperty(e,Symbol.toStringTag,{value:"Module"}),Object.defineProperty(e,"__esModule",{value:!0})},r.t=function(e,t){if(1&t&&(e=r(e)),8&t)return e;if(4&t&&"object"===typeof e&&e&&e.__esModule)return e;var n=Object.create(null);if(r.r(n),Object.defineProperty(n,"default",{enumerable:!0,value:e}),2&t&&"string"!=typeof e)for(var o in e)r.d(n,o,function(t){return e[t]}.bind(null,o));return n},r.n=function(e){var t=e&&e.__esModule?function(){return e.default}:function(){return e};return r.d(t,"a",t),t},r.o=function(e,t){return Object.prototype.hasOwnProperty.call(e,t)},r.p="https://boosterapps.com/apps/loyalty/packs/",r(r.s=19)}({19:function(e,t){}});
//# sourceMappingURL=application-0e30c6b2acf2612b3203.js.map

  //Global snippet for Booster Apps
  //this is updated automatically - do not edit manually.

  function loadScript(src, defer, done) {
    var js = document.createElement('script');
    js.src = src;
    js.defer = defer;
    js.onload = function(){done();};
    js.onerror = function(){
      done(new Error('Failed to load script ' + src));
    };
    document.head.appendChild(js);
  }

  function browserSupportsAllFeatures() {
    return window.Promise && window.fetch && window.Symbol;
  }

  if (browserSupportsAllFeatures()) {
    main();
  } else {
    loadScript('https://polyfill.io/v3/polyfill.min.js?features=Promise,fetch', true, main);
  }

  function loadAppScripts(){
      loadScript(window.BoosterApps.global_config.asset_urls.loy.init_js, true, function(){});



  }

  function main(err) {
    //isolate the scope
    loadScript(window.BoosterApps.global_config.asset_urls.global.helper_js, false, loadAppScripts);
  }
</script>
