<div class="view view-sixth">
  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="{{ product.featured_image.alt }}" style="max-width: {{ max_height | times: product.featured_image.aspect_ratio }}px;">
  </noscript>
  <div class="product-card__image-with-placeholder-wrapper">
    <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="{{ product.featured_image.alt }}">
  </div>
  <div class="mask">
    <div class="mark" style="background-image:url({{ 'collection-mark.png' | asset_img_url }})"></div>
    <h4 class="product-card__title">{{ product.title }}</h4>
    <p class="collection-name">{{ collection.title }}</p>
    <div class="price">{% include 'product-price', variant: product.selected_or_first_available_variant %}</div>
    {% include 'sca-quick-view' %}
    <div class="bracker"></div>
    <a href="{{ product.url | within: collection }}" class="shop-btn btn">SHOP NOW</a>
  </div>
</div>


