{% capture gemFooterScripts %}<script data-instant-track type="text/javascript">	var GEMVENDOR = GEMVENDOR || (function(){		var _js = {};		return {			init: function(Args) {				_js = Args;			},			getLibs: function() {				return _js;			}		};	}());	GEMVENDOR.init(pageLibs);</script><script data-instant-track type="text/javascript" src="https://d1um8515vdn9kb.cloudfront.net/files/gempagev2.js?v=1.0" class="gf-script" defer></script>{% endcapture %}
{% assign gemHandleCheck = 'product.gem-1596642105-template, collection.gem-1596642092-template, index.gem-1606774384-template' | split: ", " %}{% for h in gemHandleCheck %}{% if template == h %}{{ gemFooterScripts }}{% endif %}{% endfor %}    {% if shop.metafields.gempages.defaultFooterScript != blank %}
      {{ shop.metafields.gempages.defaultFooterScript }}
    {% endif %}
    {% if shop.metafields.gpGlobalConfigs.enableProductSchema == "true" or shop.metafields.gpGlobalConfigs.enableProductSchema == blank %}  
      {{ GEM_SCHEMA_SCRIPT }}
    {% endif %}
