<div class="view view-sixth">
  <div class="product-card__image-with-placeholder-wrapper grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card" data-product-card>
    <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
      <span class="visually-hidden">{{ product.title }}</span>
    </a>
    {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
    {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
    {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
      <div class="grid-view-item__image-wrapper product-card__image-wrapper js">
        <img id="{{ img_id }}" class="grid-view-item__image lazyload" alt="{{ product.featured_image.alt }}" data-src="{{ img_url }}" data-sizes="auto" data-image>
        {% if product.compare_at_price > product.price %}
        <div class="list-view-item__on-sale sale__and__save">
          {% if product.compare_at_price_max > product.price %}Save {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}%{% endif %}
        </div>
        {% endif %}
        {% unless product.available %}
        <div class="list-view-item__on-sale sale__and__save list-view-item__sold-out">{{ 'products.product.sold_out' | t }}</div>
        {% endunless %}
        <div class="list-view-item__price-column">
          {% if product.available %}
          {% include 'product-price', variant: product.selected_or_first_available_variant %}
          {% endif %}
        </div>
      </div>
      <div class="placeholder-background placeholder-background--animation" data-image-placeholder></div>
    </div>
    <noscript>
      {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
      <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="{{ product.featured_image.alt }}" style="max-width: {{ max_height | times: product.featured_image.aspect_ratio }}px;">
    </noscript>
    <div class="mask sca-qv-image">
      <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>
      <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
      <div class="add_with__type">
        {% include 'related-product-price', variant: product.selected_or_first_available_variant %}
        {% comment %} 
        <a class="addtocart" href="{{ product.url | within: collection }}">ADD TO CART</a>
        {% endcomment %}
        {% assign added_to_cart_link = '/cart/add?id=' | append:product.first_available_variant.id | append: '&quantity=1' %}
        <a class="addtocart" href="{{ added_to_cart_link }}">ADD TO CART</a> 
      </div>
    </div>
  </div>
</div>