<script>
    if(typeof(Spurit) === 'undefined'){
        var Spurit = {};
    }
    if(!Spurit.recurringInvoices){
        Spurit.recurringInvoices = {};
    }
    if(!Spurit.recurringInvoices.snippet){
        Spurit.recurringInvoices.snippet = {};
    }
    Spurit.recurringInvoices.snippet.appId = '46';
    Spurit.recurringInvoices.snippet.shopHash = 'a417ec91b127a3480c8094819361fc88';
    Spurit.recurringInvoices.snippet.shopDomain = 'dev-cheekbone-beauty.myshopify.com';
    Spurit.recurringInvoices.snippet.folderStore = 'https://s3.amazonaws.com/shopify-apps/recurring-invoices/store/';
    Spurit.recurringInvoices.snippet.folderCss = 'https://s3.amazonaws.com/shopify-apps/recurring-invoices/css/';
    Spurit.recurringInvoices.snippet.moneyFormat = '{{ shop.money_format }}';

    if(typeof(Spurit.globalSnippet) === 'undefined'){
        Spurit.globalSnippet = {
            shop_currency: '{{ shop.currency }}',
            money_format: '{{ shop.money_format }}',
            cart: {{ cart | json }},
            customer_id: '{{ customer.id }}'
        };
    }
</script>
<script src="https://s3.amazonaws.com/shopify-apps/recurring-invoices/js/common.js"></script>