<script>
  jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
         $( document ).ready(function() {
    $("input[name=option-0]").on("change",function(){
      var a=$("input[name=option-0]:checked").parent().find("label").attr("style").split(":")[1]
      var bg=a.replace(/[^a-z0-9\s]/gi, '').replace(/[_\s]/g, '');
      $(".bg-image div").css("background-color",bg)
      $("button.product-form__cart-submit").css("background-color",bg);
      $("button.product-form__cart-submit").css("background-color",bg);
      $(".qty-inner-option").css("border-color",bg);
      $(".product-vendor").css("color",bg);
      $(".other-tag .stamped-badge-starrating .stamped-fa").css("color",bg);
      $(".accordion a.accordion-title.active").css("color",bg);
    })
    $(function() {
      $('.swatch input').load("change", function() {
        /*bacground chnage*/
        var a=$("input[name=option-0]:checked").parent().find("label").attr("style").split(":")[1]
        var bg=a.replace(/[^a-z0-9\s]/gi, '').replace(/[_\s]/g, '');
        $(".bg-image div").css("background-color",bg);
        /**/
        $("button.product-form__cart-submit").css("background-color",bg);
        $(".qty-inner-option").css("border-color",bg);
        $(".product-vendor").css("color",bg);
        $(".accordion a.accordion-title.active").css("color",bg);
//         setInterval(function(){
//           $(".other-tag .stamped-badge-starrating .stamped-fa").css("color",bg);
//         }, 4000);
      });
    });
  });
  
  $(window).on("load",function(){
    $(".stamped-badge .stamped-fa.stamped-fa-star").attr("style","");
        setTimeout(function(){
//       $(".other-tag .stamped-badge-starrating .stamped-fa").css("color",bg);
      var color = $(".swatch-element > label").css("background-color")

	$(".stamped-badge .stamped-fa.stamped-fa-star").css("color",color);
    }, 401);
  })
  
</script>