
{% comment %} 
current we support the following colors
10 - Rose Neutral Matte Blush,
11 - Deep Rose Matte Blush,
4 - Deep Contour,
7 - Deep Bronzer/Contour,
8 - Warm Shimmer Highlighter,
3 - Peach Shimmer Blush,
6 - Medium Matte Bronzer,
{% endcomment %}



<div class="swatch clearfix" data-option-index="{{ header }}">
  <div class="header">MATTE</div>
  
  {% for i in (0..8) %}
   
      <div data-value="{{ swatch[i] | escape | strip }}" class="swatch-element color">
        
        <div class="tooltip"><span>{{ swatch[i] | strip }}</span></div>
       
        <input data-image-src="{{ real_color_images[i] }}" id="swatch-colorpad-{{ i }}" type="radio" name="option-{{ header | escape | remove:" " }}" value="{{ swatch[i] | escape | strip }}" />
        <label for="swatch-colorpad-{{ i }}" style="background-image: url({{ real_color_images[i] }})">
          
        </label>
       
      </div> 
  {% endfor %}
  
  
  </div>

<div class="swatch clearfix" data-option-index="color-pad-shimmer">
  
  <div class="header">SHIMMER</div>
  
  {% for i in (9..10) %}
   
      <div data-value="{{ swatch[i] | escape | strip }}" class="swatch-element color">
        
        <div class="tooltip"><span>{{ swatch[i] | strip }}</span></div>
       
        <input data-image-src="{{ real_color_images[i] }}" id="swatch-colorpad-{{ i }}" type="radio" name="option-{{ header | escape | remove:" " }}" value="{{ swatch[i] | escape | strip }}" />
        <label for="swatch-colorpad-{{ i }}" style="background-image: url({{ real_color_images[i] }})">
          
        </label>
       
      </div> 
  {% endfor %}
  
</div>

