{%- comment %}<locksmith:5c5a>{% endcomment -%}
  {%- include 'locksmith' -%}
{%- comment %}</locksmith:5c5a>{% endcomment -%}

<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">
    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}
    {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}
    {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
    {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
    {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
    &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
    &ndash; {{ shop.name }}
    {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>
    {%- if page_description -%}
    {%- comment %}<locksmith:ab9d>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="description" content="{{ page_description | escape }}">{% endif -%}
      {%- comment %}original: <meta name="description" content="{{ page_description | escape }}">{%- endcomment %}
    {%- comment %}</locksmith:ab9d>{% endcomment -%}
    {%- endif -%}
    {% include 'social-meta-tags' %}
    <link rel="stylesheet" href="https://use.typekit.net/cav0yli.css">
    {{ 'font-awesome.css' | asset_url | stylesheet_tag }}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {{ 'swatch.css' | asset_url | stylesheet_tag }}
    <script>
      var theme = {
        breakpoints: {
          narrowscreen: 500,
          medium: 750,
          large: 990,
          widescreen: 1400
        },
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }},
          regularPrice: {{ 'products.product.regular_price' | t | json }},
          salePrice: {{
          'products.product.sale_price' | t | json }},
          sale: {{ 'products.product.on_sale' | t | json }},
            showMore: {{ 'general.filters.show_more' | t | json }},
            showLess: {{ 'general.filters.show_less' | t | json }},
            addressError: {{ 'sections.map.address_error' | t | json }},
            addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
            addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
            authError: {{ 'sections.map.auth_error_html' | t | json }},
            newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
            external: {{ 'general.accessibility.link_messages.external' | t | json }},
            newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
            removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
            update: {{ 'cart.label.update' | t | json }},
            quantity: {{ 'cart.label.quantity' | t | json }},
            discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
            regularTotal: {{ 'cart.label.regular_total' | t | json }},
            priceColumn: {{ 'cart.label.price_column' | t | json }},
            quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
            cartError: {{ 'cart.general.cart_error' | t | json }},
            removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
            unitPrice: {{ 'products.product.unit_price_label' | t | json }},
            unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
            oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
            otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
            quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }}
      },
        moneyFormat: {{ shop.money_format | json }},
          moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }}
      }
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    {%- if template.directory == 'customers' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}
    <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'general.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'accordion.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}
{%- include 'bold-common' -%}
{%- include 'bold-product' with product, hide_action: 'header' -%}
{%- include 'bold-ro-init' -%}
    {{ shop.metafields.loox["global_html_head"] }}
    {% include 'sca-quick-view-init' %}
  </head>
  <body class="template-{{ template | split: '.' | first }}">
    <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
    <div id="SearchDrawer" class="search-bar drawer drawer--top" role="dialog" aria-modal="true" aria-label="{{ 'general.search.placeholder' | t }}">
      <div class="search-bar__table">
        <div class="search-bar__table-cell search-bar__form-wrapper">
          <form class="search search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
            <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
            <button class="search-bar__submit search__submit btn--link" type="submit">
              {% include 'icon-search' %}
              <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
            </button>
          </form>
        </div>
        <div class="search-bar__table-cell text-right">
          <button type="button" class="btn--link search-bar__close js-drawer-close">
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
          </button>
        </div>
      </div>
    </div>
    {%- if settings.enable_ajax -%}
    {% include 'cart-popup' %}
    {%- endif -%}
    {% section 'header' %}
    <div class="page-container middle-section" id="PageContainer">
      <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
        {{ content_for_layout }}
      </main>
      {% section 'footer' %}
      <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
        {{- 'sections.slideshow.navigation_instructions' | t -}}
      </div>
    </div>
    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
      <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
    </ul>
    <script>
      jQuery(function() {
        jQuery('.swatch :radio').change(function() {
          var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
          var optionValue = jQuery(this).val();
          jQuery(this)
          .closest('form')
          .find('.single-option-selector')
          .eq(optionIndex)
          .val(optionValue)
          .trigger('change');
        });
      });
    </script>
    {{ shop.metafields.loox["global_html_body"] }}
    {% include 'sca-quick-view-template' %} 
    <!-- Begin ReCharge code -->
    {% include 'subscription-theme-footer' %}
    <!-- End ReCharge code -->
  </body>
</html>
