<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PPFLNTW');</script>
<!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-181431772-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-181431772-1');
</script>
<!-- Global site tag (gtag.js) - Google Ads: 479537589 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-479537589"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-479537589');
</script>

    
    <script type="application/ld+json">
    {
       "@context": "http://schema.org",
       "@type": "WebSite",
       "url": "https://cheekbonebeauty.com/",
       "potentialAction": {
         "@type": "SearchAction",
         "target": "https://query.cheekbonebeauty.com/search?q={search_term_string}",
         "query-input": "required name=search_term_string"
       }
    }
    </script>
    <!-- Infinite Options Fast Loading Script By ShopPad -->
    <script src="//d1liekpayvooaz.cloudfront.net/apps/customizery/customizery.js?shop={{shop.permanent_domain}}"></script>
    <meta name="facebook-domain-verification" content="iqpbrksbl1vwwad30w3hl1utjdfdxu" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">
    {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}
    {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}
    {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
    {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
    {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
    &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
    &ndash; {{ shop.name }}
    {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>
    {%- if page_description -%}
    {%- comment %}<locksmith:2fb0>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', variable: 'transparent', hiding_scope: 'resource' %}{% endcapture %}{% if var == 'true' %}<meta name="description" content="{{ page_description | escape }}">{% endif -%}
      {%- comment %}original: <meta name="description" content="{{ page_description | escape }}">{%- endcomment %}
    {%- comment %}</locksmith:2fb0>{% endcomment -%}
    {%- endif -%}
    {% include 'social-meta-tags' %}
    <link rel="stylesheet" href="https://use.typekit.net/cav0yli.css">
    {{ 'font-awesome.css' | asset_url | stylesheet_tag }}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {{ 'swatch.scss.css' | asset_url | stylesheet_tag }}
    <script>
      var theme = {
        breakpoints: {
          narrowscreen: 500,
          medium: 750,
          large: 990,
          widescreen: 1400
        },
        strings: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }},
          regularPrice: {{ 'products.product.regular_price' | t | json }},
          salePrice: {{
          'products.product.sale_price' | t | json }},
          sale: {{ 'products.product.on_sale' | t | json }},
            showMore: {{ 'general.filters.show_more' | t | json }},
            showLess: {{ 'general.filters.show_less' | t | json }},
            addressError: {{ 'sections.map.address_error' | t | json }},
            addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
            addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
            authError: {{ 'sections.map.auth_error_html' | t | json }},
            newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
            external: {{ 'general.accessibility.link_messages.external' | t | json }},
            newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
            removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
            update: {{ 'cart.label.update' | t | json }},
            quantity: {{ 'cart.label.quantity' | t | json }},
            discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
            regularTotal: {{ 'cart.label.regular_total' | t | json }},
            priceColumn: {{ 'cart.label.price_column' | t | json }},
            quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
            cartError: {{ 'cart.general.cart_error' | t | json }},
            removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
            unitPrice: {{ 'products.product.unit_price_label' | t | json }},
            unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
            oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
            otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
            quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }}
      },
        moneyFormat: {{ shop.money_format | json }},
          moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }}
      }
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    {%- if template.directory == 'customers' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}
    <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'general.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'accordion.js' | asset_url }}" defer="defer"></script>


  <!-- Avada FSB Script -->
 {% include 'avada-fsb-setting' %}
  <!-- /Avada FSB Script -->


{{ content_for_header }}
    

    {{ shop.metafields.loox["global_html_head"] }}
{% comment %}
    {% include 'sca-quick-view-init' %}
{% endcomment %}
    
<script>
window.mlvedaShopCurrency = "{{ shop.currency }}";
window.shopCurrency = "{{ shop.currency }}";
window.supported_currencies = "{{ settings.mlvedaACS_supportedCurrencies }}";
</script><script>var scaaffCheck = false;</script>
{% comment %}    
{{ 'sca_affiliate.js' | asset_url | script_tag }}
{% endcomment %}
    
{% render 'pagefly-header' %}
{% comment %} Removed by Jon N @ Shopify | June 10 2021 
 <!--Gem_Page_Header_Script-->
{% render 'gem-app-header-scripts' %}
<!--End_Gem_Page_Header_Script-->
{% endcomment %}
    

 {{ 'paymentfont.scss.css' | asset_url | stylesheet_tag }}


{% include 'booster-common' %}
</head> 
  <body class="template-{{ template | split: '.' | first }}">

    <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
    <div id="SearchDrawer" class="search-bar drawer drawer--top" role="dialog" aria-modal="true" aria-label="{{ 'general.search.placeholder' | t }}">
      <div class="search-bar__table">
        <div class="search-bar__table-cell search-bar__form-wrapper">
          <form class="search search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
            <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
            <button class="search-bar__submit search__submit btn--link" type="submit">
              {% include 'icon-search' %}
              <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
            </button>
          </form>
        </div>
        <div class="search-bar__table-cell text-right">
          <button type="button" class="btn--link search-bar__close js-drawer-close">
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
          </button>
        </div>
      </div>
    </div>
    {%- if settings.enable_ajax -%}
    {% include 'cart-popup' %}
    {%- endif -%}
    {% section 'header' %}
    <div class="page-container middle-section {% if template.name == 'login' %} yx-login-page {% endif %}" id="PageContainer">
    
      <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
        {{ content_for_layout }}
      </main>
      {% section 'footer' %}
      <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
        {{- 'sections.slideshow.navigation_instructions' | t -}}
      </div>
    </div>
    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
      <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
    </ul>
    <script>
      jQuery(function() {
        jQuery('.swatch :radio').change(function() {
          var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
          var optionValue = jQuery(this).val();
          jQuery(this)
          .closest('form')
          .find('.single-option-selector')
          .eq(optionIndex)
          .val(optionValue)
          .trigger('change');
        });
      });
    </script>
    {{ shop.metafields.loox["global_html_body"] }}
    {% include 'sca-quick-view-template' %} 
    <!-- Begin ReCharge code -->
    {% include 'subscription-theme-footer' %}
    <!-- End ReCharge code -->
  
<!-- spurit_sri-added -->
{% include 'spurit_sri-theme-snippet' %}
<!-- /spurit_sri-added -->

{% include 'mlveda-currencies-switcher' %}{% include 'mlveda-currencies' %}{% include 'mlveda-flag' %}{% include 'mlveda-currencies-style' %}<!--Isoraw Styles Start-->
        <script src="https://apps.thescorpiolab.com/isoraw/public/shopify_assets/coins.js"></script>
        <link rel="stylesheet" type="text/css" href="https://apps.thescorpiolab.com/isoraw/public/shopify_assets/coins.css">
        <link rel="stylesheet" href="https://apps.thescorpiolab.com/isoraw/public/shopify_assets/influencer.css">
        <!--Isoraw Styles End-->

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6134974.js"></script>
<!-- End of HubSpot Embed Code -->
{% comment %} Removed by Jon N @ Shopify | June 10 2021 
 <!--Gem_Page_Footer_Script-->
{% render 'gem-app-footer-scripts' %}
<!--End_Gem_Page_Footer_Script-->
{% endcomment %}
<script type="text/javascript" src="https://cheekbonebeauty.zuberance.com/integrations/raf/shopify/raf-4.35.0.js"></script>



 
<!-- Back in Stock helper snippet -->
{% render 'back-in-stock-helper' %}
<!-- End Back in Stock helper snippet -->
{% comment %}  
    {% include 'smile-initializer' %}
{% endcomment %}
</body>
  <script async type="text/javascript" data-api-key="" id="stamped-script-widget" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js"></script>
</html>
