{% if section.settings.message %}
  <style>
    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width | escape }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
{% endif %}

<div class="yx-header-div" data-section-id="{{ section.id }}" data-section-type="header-section">
  <div style="width:100%;background-color:white;color:black;text-align:center;font-weight:bold;padding:0px 0;"><p><span style="color:#dc0c96">{{ section.settings.ship-text | escape }}</span> {{ section.settings.poup-text | escape }}  <span style="color:#dc0c96">{{ section.settings.instatext | escape }}</span></p></div>
 {% comment %} <div class="header-overlay" style="background-image:url({{ section.settings.background-overlay | img_url: 'master' }})"></div>{% endcomment %}
  <header class="site-header" role="banner">
    <div class="grid grid--no-gutters grid--table site-header__mobile-nav">
     
      <div class="grid__item medium-up--one-third small--hide">
        	<div class="search-bar__table">
        <div class="search-bar__table-cell search-bar__form-wrapper">
          <form class="search search-bar__form" action="/search" method="get" role="search">
            <input class="search__input search-bar__input" type="search" name="q" value="" placeholder="Search" aria-label="Search">
            <button class="search-bar__submit search__submit btn--link" type="submit">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 37 40"><path d="M35.6 36l-9.8-9.8c4.1-5.4 3.6-13.2-1.3-18.1-5.4-5.4-14.2-5.4-19.7 0-5.4 5.4-5.4 14.2 0 19.7 2.6 2.6 6.1 4.1 9.8 4.1 3 0 5.9-1 8.3-2.8l9.8 9.8c.4.4.9.6 1.4.6s1-.2 1.4-.6c.9-.9.9-2.1.1-2.9zm-20.9-8.2c-2.6 0-5.1-1-7-2.9-3.9-3.9-3.9-10.1 0-14C9.6 9 12.2 8 14.7 8s5.1 1 7 2.9c3.9 3.9 3.9 10.1 0 14-1.9 1.9-4.4 2.9-7 2.9z"></path></svg>
              <span class="icon__fallback-text">Submit</span>
            </button>
          </form>
        </div>
        
      </div>
      </div>
      {%- assign logo_classes = 'medium-up--one-third medium-up--push-one-third logo-align--center' -%}
  
      
      <div class="grid__item grid__logo {{ logo_classes }}">
        {% comment %}
          Use the uploaded logo from theme settings if enabled.
          Site name gets precedence with H1 tag on homepage, div on other pages.
        {% endcomment %}
      {% if template.name == 'index' %}
          <p class="site-header__logo">
        {% else %}
          <div class="site-header__logo">
        {% endif %}
           
          {% if section.settings.logo %}
            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <a href="{{ routes.root_url }}" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
              {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
              <img class="lazyload js"
                   src="{{ section.settings.logo | img_url: '300x300' }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ logo_alt | escape }}"
                   style="max-width: {{ section.settings.logo_max_width }}px">
              <noscript>
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                     srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     style="max-width: {{ section.settings.logo_max_width }}px;">
              </noscript>
            </a>
          {% else %}
            <a class="site-header__logo-link" href="{{ routes.root_url }}">{{ shop.name }}</a>
          {% endif %}
        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>

      <div class="grid__item medium-up--one-third text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
         <div class="site-header__icons-wrapper">
          <div class="country-selection">
            
            
            {% form 'currency', class: "currency-selector small--hide" %}
              <label for="CurrencySelector" class="visually-hidden">{{ 'general.currency.dropdown_label' | t }}</label>
              <div class="currency-selector__input-wrapper select-group">
                <select name="currency" id="CurrencySelector" class="currency-selector__dropdown" aria-describedby="a11y-refresh-page-message a11y-selection-message" data-currency-selector>
                  {% for currency in shop.enabled_currencies %}
                    <option value="{{currency.iso_code}}"{% if currency == cart.currency %} selected="true"{% endif %}>{{currency.iso_code}}</option>
                  {% endfor %}
                </select>
                {% include 'icon-chevron-down' %}
              </div>
            {% endform %}
          
          </div>
        
           <div class="cart">
            <a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart" id="cart-count" data-cart-count-bubble>
              {%comment%}{% include 'icon-cart' %}{%endcomment%}
          <span class="cart-title"><span><small>/</small></span>&nbsp; Bag (<b data-cart-count>{{ cart.item_count }}</b>)&nbsp;<small>/</small></span>
            </a>
          </div>
          <div class="mobile-logo">
            <a href="{{ routes.root_url }}">
            	<img class="lazyload" src="{{ section.settings.logo | img_url: image_size }}, {{ section.settings.logo | img_url: image_size, scale: 1 }}" alt="{{ logo_alt | escape }}">
            </a>
          </div>
          <div class="custumer-login">
            {% if customer %}
            <a href="{{ routes.account_url }}" class="site-header__icon site-header__account">
              <span class="login-title">Hello {{ customer.first_name }}, it's lovely to see you!</span>
            </a>
            {% else %}
            <a href="{{ routes.account_login_url }}" class="site-header__icon site-header__account">
              <span class="logout-title">Sign In</span>
            </a>
            {% endif %}
          </div>
          {% unless linklists[section.settings.main_linklist] == blank %}
            <button type="button" class="btn--link site-header__icon site-header__menu js-mobile-nav-toggle mobile-nav--open" aria-controls="MobileNav"  aria-expanded="false" aria-label="{{ 'layout.navigation.menu' | t }}">
              {% include 'icon-hamburger' %}
              {% include 'icon-close' %}
            </button>
          {% endunless %}
        </div>
      </div>
    </div>

    <div class="grid grid--no-gutters grid--table site-header__mobile-nav"> 
     <nav class="grid__item medium-up--one-whole small--hide" id="AccessibleNav" role="navigation">
          {% include 'site-nav' %}
        </nav>
    </div>
    {% comment %} for mobile nav menu header only {% endcomment %}    
    <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
      <ul id="MobileNav" class="mobile-nav">
        {%- comment %}<locksmith:19a1>{% endcomment -%}
          {%- assign locksmith_0469_forloop__size = 0 %}{% for link in linklists[section.settings.main_linklist].links %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_0469_forloop__size = locksmith_0469_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_0469_forloop__index = nil -%}
        {%- comment %}</locksmith:19a1>{% endcomment -%}
        {% for link in linklists[section.settings.main_linklist].links %}
          {%- comment %}<locksmith:93f3>{% endcomment -%}
            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[section.settings.main_linklist], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_0469_forloop__index == nil %}{% assign locksmith_0469_forloop__index = 1 %}{% assign locksmith_0469_forloop__index0 = 0 %}{% else %}{% assign locksmith_0469_forloop__index = locksmith_0469_forloop__index | plus: 1 %}{% assign locksmith_0469_forloop__index0 = locksmith_0469_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_0469_forloop__index == 1 %}{% assign locksmith_0469_forloop__first = true %}{% else %}{% assign locksmith_0469_forloop__first = false %}{% endif %}{% if locksmith_0469_forloop__index == locksmith_0469_forloop__size %}{% assign locksmith_0469_forloop__last = true %}{% else %}{% assign locksmith_0469_forloop__last = false %}{% endif %}{% assign locksmith_0469_forloop__rindex = locksmith_0469_forloop__size | minus: locksmith_0469_forloop__index | minus: 1 %}{% assign locksmith_0469_forloop__rindex0 = locksmith_0469_forloop__size | minus: locksmith_0469_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
          {%- comment %}</locksmith:93f3>{% endcomment -%}
          {%- assign outerLoopIndex = locksmith_0469_forloop__index -%}

          <li class="mobile-nav__item{% unless locksmith_0469_forloop__last %} border-bottom{% endunless %}">
            {% if link.links != blank %}
              {% capture child_list_handle %}{{ link.handle }}-{{ outerLoopIndex }}{% endcapture %}
              <button type="button" class="btn--link js-toggle-submenu mobile-nav__link{% if link.child_active %} mobile-nav__link--active{% endif %}" data-target="{{ child_list_handle }}" data-level="1" aria-expanded="false">
                <span class="mobile-nav__label">{{ link.title | escape }}</span>
                <div class="mobile-nav__icon">
                  {% include 'icon-chevron-right' %}
                </div>
              </button>
              <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}" data-level="2">
                <li class="visually-hidden" tabindex="-1" data-menu-title="2">
                  {{- link.title }} {{ 'layout.navigation.menu' | t -}}
                </li>
                <li class="mobile-nav__item border-bottom">
                  <div class="mobile-nav__table">
                    <div class="mobile-nav__table-cell mobile-nav__return">
                      <button class="btn--link js-toggle-submenu mobile-nav__return-btn" type="button" aria-expanded="true" aria-label="{{ link.title }}">
                        {% include 'icon-chevron-left' %}
                      </button>
                    </div>
                    <span class="mobile-nav__sublist-link mobile-nav__sublist-header mobile-nav__sublist-header--main-nav-parent">
                      <span class="mobile-nav__label">{{ link.title | escape }}</span>
                    </span>
                  </div>
                </li>

                {%- comment %}<locksmith:0d5a>{% endcomment -%}
                  {%- assign locksmith_9aed_forloop__size = 0 %}{% for childlink in link.links %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childlink, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_9aed_forloop__size = locksmith_9aed_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_9aed_forloop__index = nil -%}
                {%- comment %}</locksmith:0d5a>{% endcomment -%}
                {% for childlink in link.links %}
                  {%- comment %}<locksmith:fdd5>{% endcomment -%}
                    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childlink, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_9aed_forloop__index == nil %}{% assign locksmith_9aed_forloop__index = 1 %}{% assign locksmith_9aed_forloop__index0 = 0 %}{% else %}{% assign locksmith_9aed_forloop__index = locksmith_9aed_forloop__index | plus: 1 %}{% assign locksmith_9aed_forloop__index0 = locksmith_9aed_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_9aed_forloop__index == 1 %}{% assign locksmith_9aed_forloop__first = true %}{% else %}{% assign locksmith_9aed_forloop__first = false %}{% endif %}{% if locksmith_9aed_forloop__index == locksmith_9aed_forloop__size %}{% assign locksmith_9aed_forloop__last = true %}{% else %}{% assign locksmith_9aed_forloop__last = false %}{% endif %}{% assign locksmith_9aed_forloop__rindex = locksmith_9aed_forloop__size | minus: locksmith_9aed_forloop__index | minus: 1 %}{% assign locksmith_9aed_forloop__rindex0 = locksmith_9aed_forloop__size | minus: locksmith_9aed_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                  {%- comment %}</locksmith:fdd5>{% endcomment -%}
                  <li class="mobile-nav__item{% unless locksmith_9aed_forloop__last %} border-bottom{% endunless %}">
                    {% if childlink.links != blank %}
                      {% capture grandchild_list_handle %}{{ childlink.handle }}-{{ outerLoopIndex }}-{{ locksmith_9aed_forloop__index }}{% endcapture %}
                      <button type="button" class="btn--link js-toggle-submenu mobile-nav__link mobile-nav__sublist-link" data-target="{{ grandchild_list_handle }}" aria-expanded="false">
                        <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                        <div class="mobile-nav__icon">
                          {% include 'icon-chevron-right' %}
                        </div>
                      </button>
                      <ul class="mobile-nav__dropdown" data-parent="{{ grandchild_list_handle }}" data-level="3">
                        <li class="visually-hidden" tabindex="-1" data-menu-title="3">
                          {{- childlink.title }} {{ 'layout.navigation.menu' | t -}}
                        </li>
                        <li class="mobile-nav__item border-bottom">
                          <div class="mobile-nav__table">
                            <div class="mobile-nav__table-cell mobile-nav__return">
                              <button type="button" class="btn--link js-toggle-submenu mobile-nav__return-btn" data-target="{{ child_list_handle }}" aria-expanded="true" aria-label="{{ childlink.title }}">
                                {% include 'icon-chevron-left' %}
                              </button>
                            </div>
                            <a href="{{ childlink.url }}"
                              class="mobile-nav__sublist-link mobile-nav__sublist-header"
                              {% if childlink.current %} aria-current="page"{% endif %}
                            >
                              <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                            </a>
                          </div>
                        </li>
                        {%- comment %}<locksmith:7934>{% endcomment -%}
                          {%- assign locksmith_c222_forloop__size = 0 %}{% for grandchildlink in childlink.links %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: grandchildlink, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_c222_forloop__size = locksmith_c222_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_c222_forloop__index = nil -%}
                        {%- comment %}</locksmith:7934>{% endcomment -%}
                        {% for grandchildlink in childlink.links %}
                          {%- comment %}<locksmith:eeef>{% endcomment -%}
                            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: grandchildlink, subject_parent: childlink, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_c222_forloop__index == nil %}{% assign locksmith_c222_forloop__index = 1 %}{% assign locksmith_c222_forloop__index0 = 0 %}{% else %}{% assign locksmith_c222_forloop__index = locksmith_c222_forloop__index | plus: 1 %}{% assign locksmith_c222_forloop__index0 = locksmith_c222_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_c222_forloop__index == 1 %}{% assign locksmith_c222_forloop__first = true %}{% else %}{% assign locksmith_c222_forloop__first = false %}{% endif %}{% if locksmith_c222_forloop__index == locksmith_c222_forloop__size %}{% assign locksmith_c222_forloop__last = true %}{% else %}{% assign locksmith_c222_forloop__last = false %}{% endif %}{% assign locksmith_c222_forloop__rindex = locksmith_c222_forloop__size | minus: locksmith_c222_forloop__index | minus: 1 %}{% assign locksmith_c222_forloop__rindex0 = locksmith_c222_forloop__size | minus: locksmith_c222_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                          {%- comment %}</locksmith:eeef>{% endcomment -%}
                          <li class="mobile-nav__item{% unless locksmith_c222_forloop__last %} border-bottom{% endunless %}">
                            <a href="{{ grandchildlink.url }}"
                              class="mobile-nav__sublist-link"
                              {% if grandchildlink.current %} aria-current="page"{% endif %}
                            >
                              <span class="mobile-nav__label">{{ grandchildlink.title | escape }}</span>
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <a href="{{ childlink.url }}"
                        class="mobile-nav__sublist-link"
                        {% if childlink.current %} aria-current="page"{% endif %}
                      >
                        <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                      </a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="{{ link.url }}"
                class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}"
                {% if link.current %} aria-current="page"{% endif %}
              >
                <span class="mobile-nav__label">{{ link.title | escape }}</span>
              </a>
            {% endif %}
          </li>
        {% endfor %}
        {% if shop.enabled_currencies.size > 1 %}
          <li class="mobile-nav__item border-top">
            {% form 'currency', class: "currency-selector" %}
              <label for="CurrencySelectorMobile" class="currency-selector__label">{{ 'general.currency.dropdown_label' | t }}</label>
              <div class="currency-selector__input-wrapper select-group">
                <select name="currency" id="CurrencySelectorMobile" class="currency-selector__dropdown" aria-describedby="a11y-refresh-page-message a11y-selection-message" data-currency-selector>
                  {% for currency in shop.enabled_currencies %}
                    <option value="{{currency.iso_code}}"{% if currency == cart.currency %} selected="true"{% endif %}>{{currency.iso_code}}</option>
                  {% endfor %}
                </select>
                {% include 'icon-chevron-down' %}
              </div>
            {% endform %}
          </li>
        {% endif %}
      </ul>
    </nav>
  </header>

</div>



<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
    {{ settings.social_twitter_link | json }},
    {{ settings.social_facebook_link | json }},
    {{ settings.social_pinterest_link | json }},
    {{ settings.social_instagram_link | json }},
    {{ settings.social_tumblr_link | json }},
    {{ settings.social_snapchat_link | json }},
    {{ settings.social_youtube_link | json }},
    {{ settings.social_vimeo_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
}
</script>

{% if template.name == 'index' %}
  {% assign potential_action_target = shop.url | append: "/search?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{% endif %}

{% schema %}
{
  "name": {
    "da": "Overskrift",
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fi": "Ylätunniste",
    "fr": "En-tête",
    "hi": "हैडर",
    "it": "Header",
    "ja": "ヘッダー",
    "ko": "머리글",
    "ms": "Pengepala",
    "nb": "Header",
    "nl": "Koptekst",
    "pt-BR": "Cabeçalho",
    "pt-PT": "Cabeçalho",
    "sv": "Rubrik",
    "th": "ส่วนหัว",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "settings": [
	{
      "type": "image_picker",
      "id": "background-overlay",
      "label": {
      "en": "Header Overlay"
      }
    },
    {
      "type": "radio",
      "id": "align_logo",
      "label": {
        "da": "Logojustering",
        "de": "Logo-Ausrichtung",
        "en": "Logo alignment",
        "es": "Alineación de logotipo",
        "fi": "Logon tasaus",
        "fr": "Alignement du logo",
        "hi": "लोगो संरेखण",
        "it": "Allineamento logo",
        "ja": "ロゴアラインメント",
        "ko": "로고 정렬",
        "ms": "Penjajaran logo",
        "nb": "Logojustering",
        "nl": "Logo-uitlijning",
        "pt-BR": "Alinhamento do logotipo",
        "pt-PT": "Alinhamento do logótipo",
        "sv": "Logojustering",
        "th": "การจัดวางโลโก้",
        "zh-CN": "logo 对齐方式",
        "zh-TW": "商標對齊"
      },
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": {
            "da": "Venstre",
            "de": "Links",
            "en": "Left",
            "es": "Izquierda",
            "fi": "Vasen",
            "fr": "Gauche",
            "hi": "बाएँ",
            "it": "Sinistra",
            "ja": "左",
            "ko": "왼쪽",
            "ms": "Kiri",
            "nb": "Venstre",
            "nl": "Links",
            "pt-BR": "Esquerda",
            "pt-PT": "Esquerda",
            "sv": "Vänster",
            "th": "ด้านซ้าย",
            "zh-CN": "左侧",
            "zh-TW": "左方"
          }
        },
        {
          "value": "center",
          "label": {
            "da": "Centreret",
            "de": "Mittig",
            "en": "Centered",
            "es": "Centrada",
            "fi": "Keskitetty",
            "fr": "Centré",
            "hi": "केंद्र",
            "it": "Centrato",
            "ja": "中央揃え",
            "ko": "센터 맞추기",
            "ms": "Ditengah",
            "nb": "Sentrert",
            "nl": "Gecentreerd",
            "pt-BR": "Centralizado",
            "pt-PT": "Centrado",
            "sv": "Centrera",
            "th": "ตรงกลาง",
            "zh-CN": "居中",
            "zh-TW": "置中"
          }
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "da": "Logobillede",
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Logotipo",
        "fi": "Logokuva",
        "fr": "Image du logo",
        "hi": "लोगो इमेज",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "ko": "로고 이미지",
        "ms": "Imej logo",
        "nb": "Logobilde",
        "nl": "Afbeelding van logo",
        "pt-BR": "Imagem do logotipo",
        "pt-PT": "Imagem do logótipo",
        "sv": "Logobild",
        "th": "รูปภาพโลโก้",
        "zh-CN": "logo 图片",
        "zh-TW": "標誌圖片"
      }
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": {
        "da": "Brugerdefineret logobredde",
        "de": "Logobreite",
        "en": "Custom logo width",
        "es": "Ancho del logotipo personalizado",
        "fi": "Mukautetun logon leveys",
        "fr": "Largeur personnalisée du logo",
        "hi": "कस्टम लोगो की चौड़ाई",
        "it": "Larghezza logo personalizzato",
        "ja": "ロゴの幅をカスタムする",
        "ko": "사용자 지정 로고 폭",
        "ms": "Lebar logo tersuai",
        "nb": "Tilpasset logobredde",
        "nl": "Aangepaste logo-breedte",
        "pt-BR": "Largura do logotipo personalizado",
        "pt-PT": "Largura do logótipo personalizado",
        "sv": "Anpassad logotypsbredd",
        "th": "ความกว้างของโลโก้แบบกำหนดเอง",
        "zh-CN": "自定义 logo 宽度",
        "zh-TW": "自訂商標寬度"
      },
      "min": 50,
      "max": 320,
      "step": 5,
      "unit": {
        "da": "px",
        "de": "px",
        "en": "px",
        "es": "px",
        "fi": "px",
        "fr": "px",
        "hi": "px",
        "it": "px",
        "ja": "px",
        "ko": "px",
        "ms": "px",
        "nb": "px",
        "nl": "px",
        "pt-BR": "px",
        "pt-PT": "px",
        "sv": "px",
        "th": "px",
        "zh-CN": "px",
        "zh-TW": "像素"
      },
      "default": 100
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "ms": "Menu",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": {
        "da": "Meddelelseslinje",
        "de": "Ankündigungsbereich",
        "en": "Announcement bar",
        "es": "Barra de anuncios",
        "fi": "Ilmoituspalkki",
        "fr": "Barre d'annonces",
        "hi": "घोषणा बार",
        "it": "Barra degli annunci",
        "ja": "告知バー",
        "ko": "공지 표시줄",
        "ms": "Bar pengumuman",
        "nb": "Kunngjøringslinje",
        "nl": "Aankondigingsbalk",
        "pt-BR": "Barra de anúncios",
        "pt-PT": "Barra de comunicado",
        "sv": "Meddelandefält",
        "th": "แถบประกาศ",
        "zh-CN": "公告栏",
        "zh-TW": "公告列"
      }
    },
    {
      "type": "checkbox",
      "id": "message",
      "label": {
        "da": "Vis meddelelse",
        "de": "Ankündigung anzeigen",
        "en": "Show announcement",
        "es": "Mostrar anuncio",
        "fi": "Näytä ilmoitus",
        "fr": "Afficher l'annonce",
        "hi": "घोषणा डिखाएं",
        "it": "Mostra annuncio",
        "ja": "告知を表示する",
        "ko": "공지 표시",
        "ms": "Tunjukkan pengumuman",
        "nb": "Vis kunngjøring",
        "nl": "Aankondiging weergeven",
        "pt-BR": "Exibir anúncio",
        "pt-PT": "Mostrar comunicado",
        "sv": "Visa tillkännagivande",
        "th": "แสดงประกาศ",
        "zh-CN": "显示公告",
        "zh-TW": "顯示公告"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": {
        "da": "Kun startside",
        "de": "Nur Startseite",
        "en": "Home page only",
        "es": "Solo página de inicio",
        "fi": "Vain kotisivu",
        "fr": "Page d'accueil uniquement",
        "hi": "केवल होमपेज",
        "it": "Solo home page",
        "ja": "ホームページのみ",
        "ko": "홈페이지만",
        "ms": "Halaman utama sahaja",
        "nb": "Kun på startsiden",
        "nl": "Alleen startpagina",
        "pt-BR": "Apenas página inicial",
        "pt-PT": "Apenas a página inicial",
        "sv": "Endast hemsida",
        "th": "หน้าแรกเท่านั้น",
        "zh-CN": "仅主页",
        "zh-TW": "僅限首頁"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "ship-text",
      "label": {
        "en": "First Title"
      },
      "default": {
        "en": "FREE SHIPPING"
      }
    },
	{
      "type": "url",
      "id": "button_linka",
      "label": {
        "en": "First link"
      }
    },
	{
      "type": "text",
      "id": "poup-text",
      "label": {
        "en": "Second Title"
    },
	"default": {
        "en": "POP UP COMING SOON"
      }
	},
	{
      "type": "url",
      "id": "button_linkb",
      "label": {
        "en": "Second link"
      }
    },
	{
      "type": "text",
      "id": "instatext",
      "label": {
        "en": "Third Title"
    },
	"default": {
        "en": "FOLLOW US ON INSTAGRAM"
      }
	},
	{
      "type": "url",
      "id": "button_linkc",
      "label": {
        "en": "Third link"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "da": "Bjælke",
        "de": "Zeile",
        "en": "Bar",
        "es": "Barra",
        "fi": "Palkki",
        "fr": "Barre",
        "hi": "बार",
        "it": "Barra",
        "ja": "バー",
        "ko": "바",
        "ms": "Bar",
        "nb": "Felt",
        "nl": "Balk",
        "pt-BR": "Barra",
        "pt-PT": "Barra",
        "sv": "Fält",
        "th": "แถบ",
        "zh-CN": "栏",
        "zh-TW": "橫條"
      },
      "default": "#7796a8"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "ms": "Teks",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#fff"
    }
  ]
}
{% endschema %}
