<div class="strong_women">
  <div class="page-width">
    <div class="section-header text-center">
      <h4>{{ section.settings.title | escape }}</h4>
      <p>{{ section.settings.detail_title }}</p>
    </div>
    <div class="instashop-gallery" data-gallery="default"></div>
  </div>
</div>

{% schema %}
  {
    "name": "Shoppable Images",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Heading"
      }
    },
	{
      "type": "text",
      "id": "detail_title",
      "label": {
      "en": "Description"
      },
      "info": {
      "en": "Optional"
      }
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
