<div class="page-width">
  {% if section.settings.title != blank %}
  <div class="section-header text-center">
    <h2>{{ section.settings.title | escape }}</h2>
  </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
  <ul class="logo-bar{% if section.settings.title_enable %} logo-bar--large{% endif %}">
    {% for block in section.blocks %}
    <li class="logo-bar__item{% if section.settings.title_enable %} logo-bar__item--large{% endif %}" {{ block.shopify_attributes }}>
      {% if block.settings.image != blank %}
      <div class="animation-height">
        {{ block.settings.image | img_url: '160x160', scale: 2 | img_tag: block.settings.image.alt, 'logo-bar__image' }}
      </div>
      {% else %}
      <div class="animation-height">
        {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
      {% endif %}
      {% if block.settings.animation_title != blank %}
      <h4 class="logo-bar__title">{{ block.settings.animation_title }}
        {% endif %}
        {% if block.settings.animation_title != blank %}
      </h4>
      {% endif %}
      {% if block.settings.animation_description != blank %}
      <p class="logo-bar__detail">{{ block.settings.animation_description }}
        {% endif %}
        {% if block.settings.animation_description != blank %}
      </p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
  {% endif %}
</div>
{% schema %}
{
  "name": {
    "en": "GIF Images"
  },
  "class": "index-section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "ms": "Tajuk",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Logo list",
        "es": "Lista de logotipos",
        "fi": "Logoluettelo",
        "fr": "Liste de logos",
        "hi": "लोगो सूची",
        "it": "Elenco loghi",
        "ja": "ロゴリスト",
        "ko": "로고 목록",
        "ms": "Senarai logo",
        "nb": "Logoliste",
        "nl": "Logolijst",
        "pt-BR": "Lista de logotipos",
        "pt-PT": "Lista de logótipos",
        "sv": "Logotyplista",
        "th": "รายการโลโก้",
        "zh-CN": "logo 列表",
        "zh-TW": "標誌清單"
      }
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": {
        "da": "image",
        "de": "image",
        "en": "image",
        "es": "image",
        "fi": "image",
        "fr": "image",
        "hi": "image",
        "it": "Logo",
        "ja": "image"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "hi": "इमेज",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "ms": "Imej",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        },
        {
          "type": "text",
          "id": "animation_title",
          "label": {
            "da": "Title",
            "de": "Title",
            "en": "Title",
            "es": "Title",
            "fi": "Title",
            "fr": "Title",
            "hi": "Title",
            "it": "Title",
            "ja": "Title",
            "ko": "Title",
            "ms": "Title",
            "nb": "Title",
            "nl": "Title",
            "pt-BR": "Title",
            "pt-PT": "Title",
            "sv": "Title",
            "th": "Title",
            "zh-CN": "Title",
            "zh-TW": "Title"
          },
          "info": {
            "da": "Valgfri",
            "de": "Optional",
            "en": "Optional",
            "es": "Opcional",
            "fi": "Valinnainen",
            "fr": "Facultatif",
            "hi": "वैकल्पिक",
            "it": "Facoltativo",
            "ja": "選択させる",
            "ko": "선택 사항",
            "ms": "Opsyenal",
            "nb": "Valgfritt",
            "nl": "Optioneel",
            "pt-BR": "Opcional",
            "pt-PT": "Opcional",
            "sv": "Valfritt",
            "th": "ไม่จำเป็น",
            "zh-CN": "可选",
            "zh-TW": "(選填)"
          }
        },
		{
          "type": "text",
          "id": "animation_description",
          "label": {
            "da": "Description",
            "de": "Description",
            "en": "Description",
            "es": "Description",
            "fi": "Description",
            "fr": "Description",
            "hi": "Description",
            "it": "Description",
            "ja": "Description",
            "ko": "Description",
            "ms": "Description",
            "nb": "Description",
            "nl": "Description",
            "pt-BR": "Description",
            "pt-PT": "Description",
            "sv": "Description",
            "th": "Description",
            "zh-CN": "Description",
            "zh-TW": "Description"
          },
          "info": {
            "da": "Valgfri",
            "de": "Optional",
            "en": "Optional",
            "es": "Opcional",
            "fi": "Valinnainen",
            "fr": "Facultatif",
            "hi": "वैकल्पिक",
            "it": "Facoltativo",
            "ja": "選択させる",
            "ko": "선택 사항",
            "ms": "Opsyenal",
            "nb": "Valgfritt",
            "nl": "Optioneel",
            "pt-BR": "Opcional",
            "pt-PT": "Opcional",
            "sv": "Valfritt",
            "th": "ไม่จำเป็น",
            "zh-CN": "可选",
            "zh-TW": "(選填)"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Logo list",
        "es": "Lista de logotipos",
        "fi": "Logoluettelo",
        "fr": "Liste de logos",
        "hi": "लोगो सूची",
        "it": "Elenco loghi",
        "ja": "ロゴリスト",
        "ko": "로고 목록",
        "ms": "Senarai logo",
        "nb": "Logoliste",
        "nl": "Logolijst",
        "pt-BR": "Lista de logotipos",
        "pt-PT": "Lista de logótipos",
        "sv": "Logotyplista",
        "th": "รายการโลโก้",
        "zh-CN": "logo 列表",
        "zh-TW": "標誌清單"
      },
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "ms": "Imej",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "blocks": [
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        }
      ]
    }
  ]
}
{% endschema %}
