{% comment %}ECPWS{% endcomment %}
{% capture ec-pw-ify %}{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% section 'collection-template' %}
{% section 'product-awesome-item' %}
{% section 'custom-content' %}
{% section 'newsletter' %}
{% comment %}ECPWS{% endcomment %}
{% endcapture %}
{% include 'ec-passwordify' %}
