{% comment %}ECPWS{% endcomment %}
{% capture ec-pw-ify %}<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      
      {% if page.title == "Contact Us" %}
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
	  {% endif %}	
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
{% comment %}ECPWS{% endcomment %}
{% endcapture %}
{% include 'ec-passwordify' %}
