{% comment %}ECPWS{% endcomment %}
{% capture ec-pw-ify %}<!-- /templates/page.sca-affiliate.liquid -->
<section style="min-width:100%">
  {{page.content}}
  <iframe src="https://af.secomapp.com/cheekbone-beauty/register" ></iframe>
  <script src="//d1639lhkj5l89m.cloudfront.net/js/verifylogin.js" ></script>
</section>{% comment %}ECPWS{% endcomment %}
{% endcapture %}
{% include 'ec-passwordify' %}
